#searchbar {
  background: #ffffff;
  border-radius: 35px;
  width: 90vw;
  height: 52px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-top: 45px;
  position: relative;
  z-index: 1;
}

#searchbar-input {
  border-width: 0px;
}

#searchbar-input:focus {
  /*or a more specific selector*/
  outline: none;
  border-width: 0px !important;
  border-color: white;
  box-shadow: none;
}

#searchbar-button {
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;

  text-align: center;
  background: #f99c3f;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  #searchbar {
    background: #ffffff;
    border-radius: 35px;
    width: 40vw;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-top: 45px;
    position: relative;
    z-index: 1;
  }
}
