.headerMain {
  background-color: #006989;
  padding: 10px;
  padding-left: 17vw;
  padding-right: 17vw;
}

.navbar {
  padding-left: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-right: 30px;
}

.navbar-light .navbar-brand {
  color: #f8f9fa;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 32px;
  /*margin-left: 500%;*/
  /*margin-right: 5%;*/
}

#avatar {
  text-align: right;
  color: #01a7c2;
}

.dropdown-toggle::after {
  margin-right: 10em;
  display: none;
}

.dropdownContainer {
  margin-right: 3em;
}
