.headerMain{
    background-color: #006989;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
    /*margin-left: 500%;*/
    /*margin-right: 5%;*/
}

#avatar{
    text-align: right;
    color: #01A7C2;
}


.dropdown-toggle::after {
    margin-right: 10em;
    display:none;
}

.dropdownContainer {
margin-right: 3em;
}