.topImageContainer {
    height: 15em;
    line-height: 12em;
    text-align: center;
    background-color: #eaebed;
    width: 100%;
    overflow: hidden;
}

#topImage {
    width: 100%;
    height: 65em;
    object-fit: cover;
    z-index: 1;
}

#numberOfResults {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 45%;
    color: #555555e3;
}

.thumbnail-image {
    height: 2em;
    width: 2em;
}

.categoriesContainer {
    height: 5.5em;
    line-height: 5em;
    text-align: center;
    background-color: rgb(1, 167, 194);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}


.categoriesList {
    display: inline-block;

}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 30px;
}

#specificCategories {
    font-size: 16px;
}

/* ######### ant d search #########*/

.searchContainer {
    height: 7em;
    line-height: 5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search {
    height: 5vh;
    width: 27vw;
    margin-left: -10.3vw;
    margin-top: 2vh;
}

.ant-btn-primary {
    background-color: #f49b3f;
    border-color: #f49b3f;
}

/* ######### menu (footer) for mobile #########*/

#footer {
    position: absolute;
    right: 0;
    left: 0;
    height: 3em;
    bottom: 0;
    border-top-width: 1px;
    border-top: rgb(235, 235, 235);
    border-top-style: solid;
    display: inline-block;
    font-size: 20px;
}

#footerImages {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.innerModalContainer {
    width: 100vw;
    height: 70%;
}

/* ######### scrolling categories list #########*/

.categoriesTopContainer {

}

.menu-item2 {
    padding: 0 10px;
    margin: 0px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: 16px;

}

.menu-item-wrapper.active {
    /*border: 1px blue solid;*/
}

.menu-item.active {
    /*border: 1px green solid;*/
}

.scroll-menu-arrow {
    /*padding: 20px;*/
    cursor: pointer;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
}

/* ######### filter #########*/

.filterContainer {
    display: table;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /*border: 1px solid #222222;*/
    min-width: 150px;
    position: sticky;
    top: 80px;
}

.filtersTop {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.filtersBottom {
    margin-top: 4vh;
}

/* ######### results #########*/
.resultsContainer {
    display: table;
    flex-direction: column;
    width: 100%;
    /*border: 1px solid #222222;*/
}

.companyContainer {
    border: 2px solid rgb(235, 235, 235);
    min-height: 13vh;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /*background-color: rgb(249, 249, 249);*/
    background-image: linear-gradient(rgb(249, 249, 249) , #ffffff);
    color: #555555;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;


}

.companyContainer:hover {
    box-shadow: 3px 3px 3px #8e8e8e50;
    background-color: rgb(235, 235, 235);
}

#companyTitleContainer {
    display: flex;
    flex-direction: column;
    color: #555555;
    /*background-color: #9ccc65;*/
}


#rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #555555;
}

#companyName {
    color: #555555e3;
    font-size: 25px;
}

#companyThemesContainer {
    /*background-color: #cc6d62;*/
    justify-content: flex-end;
    display: flex;
}

#companyThemes {
    display: flex;
    flex-direction: initial;
    margin-left: 2vw;
}

.container-fluid {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}

/* ######### top button #########*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f49b3f; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.ant-pagination {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum';
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 10px;
}

.ant-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #fff;
    border: solid 2px #f49b3f;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.ant-slider-track {
    position: absolute;
    height: 4px;
    background-color: #f49b3f;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.ant-slider-handle:hover {
    background-color: rgb(1, 167, 194);
    border: solid 2px rgb(1, 167, 194);
}

.ant-slider-track ant-slider-track-1:hover {
    background-color: rgb(1, 167, 194);
}

