.companycard-inner {
  box-shadow: 0 2px 25px 0 #81818180;
  border-radius: 8px;
  max-height: 150px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companycard-name {
  max-width: 75%;
  text-align: center;
  color: white;
  margin: 0;
}

.companycard-type {
  margin: 0;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-color: white;
  width: 20%;
}
